.settings{
	display: flex;
	align-items: center;
	margin: 5px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	font-size: 1.6em;
	text-transform: uppercase;
	max-width: 550px;
	max-height: 90px;
}

.settings-container{
    .select-color{
	    background-color: white;
       	border-radius: 30px;
       	margin: 10px;
    }
}

.center-items{
	display: flex;
	flex-direction: column;
	align-items: center;
}