.header{
	display: flex;
}

.numbers_main, .numbers_other{
	fill: white;
	stroke-width: 1;
	font-size: 3em;
	stroke: white;
}

.header h1{
	text-transform: uppercase;
	font-size: 72px;
	font-style: tahoma;
}

.header input[type="radio"]{
	display: block;
	height: 4em;
	width: 4em;
	border-radius: 5%;
}

.header #spalva1{
	background-color: red;
}

/* Layout */
.main {
    display: flex;
    padding: 2em;
    height: 80vh;
    justify-content: center;
    align-items: middle;
}

.main .ciferblatas{
	position: relative;
	top: 245px;
	right: 922px;
	z-index: -1;
	width: 360px;
	height: 360px;
}

.clockbox,
#clock {
    width: 100%;
}

/* Clock styles */
.circle {
    fill: none;
    stroke: #e5194a;
    stroke-width: 60;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 2;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 3;
    stroke-miterlimit: 10;
}

.second-arm {
    fill: none;
    stroke: #ff0000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /*transition: transform .5s ease-in-out;*/
}

#digital-clock input[type="number"]
{
	font-size: 50px;
}

#numbers text{
	cursor: pointer;
}
