.title{
	text-transform: uppercase;
	font-weight: bold;
	min-width: 300px;
	text-align: end;
	font-size: 100px;
}

.title .plestas{
	letter-spacing: 27px;
}

.color-container-column{
	display:flex;
	align-items; center;
}

.select-color{
	width: 60px;
	height: 60px;
}

.select-arrow{
	width: 60px;
	height: 60px;
	background-color: white;
	margin: 10px;
	border-radius: 10px;
}

.color-container{
	display: flex;
	background-color: #ebedec;
	border-radius: 5px;
	align-items: center;
	margin-top: 100px;
	height: 70px;
	padding-left: 20px;
	padding-right: 20px;
}

.color-container div{
	border-radius: 5px;
	margin: 5px;
}

.color-container .orange{
	background-color: #ef7f1b;
}

.color-container .yellow{
	background-color: #ffcc01;
}

.color-container .blue{
	background-color: #01a0e2;
}

.color-container .pink{
	background-color: #a92683;
}

.color-container .lightpink{
	background-color: #e5194a;
}

.color-container .label{
	text-transform: uppercase;
	font-weight: bold;
	margin-left: 15px;
}

.settings{
	display: flex;
	align-items: center;
	margin: 5px;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	font-size: 1.6em;
	text-transform: uppercase;
	max-width: 550px;
	max-height: 90px;
}

@media only screen and (max-width: 1920px){
	.settings-container{
		height: 252px;
		margin-top: 25%;
		margin-bottom: 50%; 
		max-width: 410px;
	}
}


@media only screen and (max-width: 1162px){
	.settings-container{
		height: 252px;
		margin-top: 0%;
		margin-bottom: 10%; 
		max-width: 410px;
	}
}

.settings-container .select-color{
	background-color: white;
       	border-radius: 30px;
       	margin: 10px;
}

#hours-input{
	border-right-style: hidden;
	border-top: solid 15px black;
	border-left: solid 15px black;
	border-bottom: solid 15px black;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
}

#minutes-input{
	border-right-style: hidden;
	border-top: solid 15px black;
	border-left: hidden;
	border-bottom: solid 15px black;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
}

#seconds-input{
	margin-left: 10px;
	border-left: hidden;
	border-top: solid 15px black;
	border-right: solid 15px black;
	border-left: solid 15px black;
	border-bottom: solid 15px black;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
	border-bottom-left-radius: 10%;
	border-top-left-radius: 10%;
}

.time-input{
	font-size: 1.6em;
	font-weight: bold;
	width: 4em;
}

/*input formar*/
/* Clock styles */
.circle {
    fill: none;
    stroke: #e5194a;
    stroke-width: 80;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
    cursor: pointer;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
    cursor: pointer;
}

.second-arm {
    fill: none;
    stroke: #ff0000;
    stroke-width: 4px;
    stroke-miterlimit: 10;
    cursor: pointer;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

#numbers text{
	fill: white;
	stroke: white;
	cursor: pointer;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /*transition: transform .5s ease-in-out;*/
}

#ciferblatas{
	transform: translate(22.3%, 21.5%) rotate(1deg);
	width: 57%;
	height: 57%;
}
