.title{
	text-transform: uppercase;
	font-weight: bold;
	text-align: end;
}

.title .plestas{
	letter-spacing: 13px;
}

.color-container-column{
	display:flex;
	align-items; center;
}

.select-color{
	width: 60px;
	height: 60px;
}

.select-arrow{
	width: 60px;
	height: 60px;
	background-color: white;
	margin: 10px;
	border-radius: 10px;
}

.color-container{
	display: flex;
	background-color: #ebedec;
	border-radius: 5px;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	height: 70px;
}

.color-container div{
	border-radius: 5px;
	margin: 5px;
}

.color-container .orange{
	background-color: #ef7f1b;
}

.color-container .yellow{
	background-color: #ffcc01;
}

.color-container .blue{
	background-color: #01a0e2;
}

.color-container .pink{
	background-color: #a92683;
}

.color-container .lightpink{
	background-color: #e5194a;
}

.color-container .label{
	text-transform: uppercase;
}

.settings{
	display: flex;
	align-items: center;
	margin: 5px;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;
}

.settings-container{
	height: 100px;
	margin-top: 50%;
	margin-bottom: 50%; 
}

.settings-container .select-color{
	background-color: white;
       	border-radius: 5px;
       	margin: 10px;
}

#hours-input{
	border-right-style: hidden;
	border-top: solid 15px black;
	border-left: solid 15px black;
	border-bottom: solid 15px black;
	border-top-left-radius: 10%;
	border-bottom-left-radius: 10%;
}

#minutes-input{
	border-right-style: hidden;
	border-top: solid 15px black;
	border-left: hidden;
	border-bottom: solid 15px black;
}

#seconds-input{
	border-left: hidden;
	border-top: solid 15px black;
	border-right: solid 15px black;
	border-bottom: solid 15px black;
	border-top-right-radius: 10%;
	border-bottom-right-radius: 10%;
}

.time-input{
	font-size: 40px;
	font-weight: bold;
	width: 4em;
}

/*input formar*/
/* Clock styles */
.circle {
    fill: none;
    stroke: #e5194a;
    stroke-width: 80;
    stroke-miterlimit: 10;
}

.mid-circle {
    fill: #000;
}
.hour-marks {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}

.hour-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
    cursor: pointer;
}

.minute-arm {
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
    cursor: pointer;
}

.second-arm {
    fill: none;
    stroke: #ff0000;
    stroke-width: 4px;
    stroke-miterlimit: 10;
    cursor: pointer;
}

/* Transparent box ensuring arms center properly. */
.sizing-box {
    fill: none;
}

#numbers text{
	fill: white;
	stroke: white;
	cursor: pointer;
}

/* Make all arms rotate around the same center point. */
/* Optional: Use transition for animation. */
#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /*transition: transform .5s ease-in-out;*/
}
